@use '../abstracts/' as *;

.footer {
    align-items: center;
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4em 0;

    &__links {
        display: flex;
        flex-direction: column;
        gap: 2em;
        text-align: center;
        padding: 1em 0;

        @include reset-list;

        a {
            color: $color-white;
        }
    }

    .social-media {
        @include reset-list;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .rights {
        color: $color-gray;
    }

    @include for-tablet-landscape-up {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            'logo social-media'
            'links rights';
        justify-content: space-between;
        padding: 2.5em 7.5em;

        .social-media {
            grid-area: social-media;
            justify-self: end;
        }

        &__links {
            grid-area: links;
            flex-direction: row;
        }
    }
}
