@use '../abstracts/' as *;

header {
    background: url(../assets/images/mobile/image-hero.jpg) top/cover;
    height: 100vh;
    padding: 3rem 1.5rem;

    .container {
        max-width: 60rem;
        margin: auto;
    }

    @include for-tablet-portrait-up {
        background: linear-gradient(hsl(0, 0%, 0%, 0.35), hsl(0, 0%, 0%, 0.25)),
            url(../assets/images/desktop/image-hero.jpg) no-repeat left/cover;
        height: auto;
        padding: 3rem 2rem;

        .container {
            display: flex;
            flex-direction: column;
            gap: 25vh;

            > .logo {
                display: none;
            }
        }
    }

    @include for-tablet-landscape-up {
        padding: 3rem 4rem;
    }

    .title--primary {
        border: 0.15rem solid currentColor;
        padding: 1.5rem;
        @include break-word;

        @include for-phone-only {
            height: fit-content;
            inset: 0 1.5rem;
            margin: auto;
            position: absolute;
        }

        @include for-tablet-portrait-up {
            padding: 2rem 1.5rem;
            width: 35rem;
        }

        @include for-tablet-landscape-up {
            padding: 2.5rem;
        }
    }
}
