@use '../abstracts/' as *;

header {
    background-image: url(../assets/images/mobile/image-hero.jpg);
    height: 100vh;
    padding: 3rem 1.5rem;

    @include for-tablet-portrait-up {
        > .logo {
            display: none;
        }
    }

    .title--primary {
        border: 0.15rem solid currentColor;
        padding: 1.5rem;
        position: absolute;
        inset: 0 1.5rem;
        margin: auto;
        height: fit-content;

        word-wrap: break-word;
        overflow-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}
