@use '../abstracts/' as *;

main {
    display: grid;
    width: 85vw;
    max-width: 70rem;
    margin: auto;
    padding: 6rem 0;
    gap: 2.5rem;

    @include for-desktop-up {
        gap: 7rem;
        padding: 10rem 0;
    }
}
