@use '../abstracts/' as *;

.main-nav {
    display: flex;
    justify-content: space-between;

    ul {
        @include reset-list;
        @include hover-list;
        display: flex;
        gap: 2em;

        a {
            color: $color-white;
        }
    }

    @include for-big-desktop-up {
        ul a {
            font-size: 1.5rem;
        }

        .logo {
            height: 2rem;
        }
    }

    @include for-tablet-portrait-up {
        align-items: center;

        &__btn-toggle {
            display: none;
        }
    }

    @include for-phone-only {
        align-items: flex-start;
        background-color: $color-black;
        flex-direction: column;
        justify-content: center;
        inset: 0;
        min-height: 100vh;
        padding: 0 2rem;
        position: fixed;
        z-index: 1000;
        transform: translateX(100%);
        transition: 350ms transform ease-out;

        &[data-visible='true'] {
            transform: translateX(0%);
        }

        .logo {
            position: absolute;
            top: 3rem;
        }

        ul {
            flex-direction: column;
            gap: 1.5em;
        }
    }
}
