@use '../abstracts/' as *;

.attribution {
    @include reset-list;
    text-align: center;
    background: #000;
    color: #ddd;
    opacity: 0.95;
    padding: 0.5em;

    a {
        color: #aa61f0;

        &:focus-visible {
            outline: 0.25em #fff7 solid;
        }
    }
}
