@use './variables' as *;

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}
@mixin for-tablet-portrait-only {
    @media (min-width: 600px) and (max-width: 899px) {
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin for-big-desktop-up {
    @media (min-width: 1400px) {
        @content;
    }
}

@mixin card-background($name) {
    background: linear-gradient(
            90deg,
            hsla(0, 0%, 0%, 0.5) 0%,
            hsla(0, 0%, 0%, 0) 60%
        ),
        url('../assets/images/mobile/image-#{$name}.jpg') no-repeat center/cover;

    &:hover {
        cursor: pointer;
        background-image: linear-gradient(#fff9, #fff9),
            url('../assets/images/mobile/image-#{$name}.jpg');

        .title {
            color: $color-black;
        }
    }

    @include for-tablet-portrait-up {
        &:hover {
            background-image: linear-gradient(#fff9, #fff9),
                url('../assets/images/desktop/image-#{$name}.jpg');
        }

        background: linear-gradient(
                0deg,
                hsla(0, 0%, 0%, 0.75) 0%,
                hsla(0, 0%, 0%, 0) 70%
            ),
            url('../assets/images/desktop/image-#{$name}.jpg') no-repeat
                top/cover;
    }
}

@mixin reset-list {
    list-style-type: none;

    li {
        line-height: 1;
    }

    a {
        text-decoration: none;
    }
}

@mixin hover-list {
    a {
        position: relative;

        &:hover::before {
            background-color: currentColor;
            border-radius: 0.05rem;
            content: '';
            display: inline-block;
            height: 0.2rem;
            position: absolute;
            inset: auto 0 -0.5em;
            margin: auto;
            width: 50%;
        }
    }
}

@mixin break-word {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
